@page
@model ResumeMaker.Pages.SignUpModel
@{
}
<style>
    @@media only screen and (min-width: 0px) and (max-width: 767px) {
        h1 {
            font-size: 1.8em;
        }
    }
    @@media only screen and (min-width: 768px){
        h1 {
            font-size: 2.4em;
        }
    }
</style>
<link rel="stylesheet" href="~/css/SignUp.css" />
<div class="col-12 d-flex align-items-center justify-content-center">
    <div class="d-flex justify-content-center flex-column col-lg-7 col-md-8 col-sm-12" id="main_container">
        <div class="d-flex justify-content-center flex-column">
            <div class="d-flex justify-content-center mb-3">
                <div style="position: relative;" class="text-center">
                    <img src="" id="image_icon">
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <div class="card login-form bg-dark col-10 col-md-8 col-lg-7 col-xl-6" id="card">
                    <div class="card-body">
                        <h1 class="card-title text-start text-success mb-2">REGISTER</h1>
                        <div class="card-text">
                            <div class="text-center bg-danger text-light" id="errors_div">
                                @Model.ErrorMessage
                            </div>
                            <form  method="POST">
                                <div class="form-group mb-2">
                                    <label for="email" class="text-light float-left">Email Address</label>
                                    <span asp-validation-for="User.Email" class="text-danger float-right"></span>
                                    <input type="email" class="form-control form-control-sm" name="email" placeholder="example@gmail.com"
                                           asp-for="User.Email">
                                </div>

                                <div class="form-group mb-2">
                                    <label for="username" class="text-light float-left">User Name</label>
                                    <span asp-validation-for="User.UserName" class="text-danger float-right"></span>
                                    <input type="text" class="form-control form-control-sm" name="username" placeholder="Username"
                                           asp-for="User.UserName">
                                </div>

                                <div class="form-group mb-2">
                                    <label for="password1" class="text-light float-left">Enter Password</label>
                                    <span asp-validation-for="User.Password" class="text-danger float-right"></span>
                                    <input type="password" class="form-control form-control-sm" name="password"
                                           placeholder="Password" asp-for="User.Password">
                                </div>

                                <div class="form-group mb-4">
                                    <span asp-validation-for="User.PasswordConfirm" class="text-danger float-right"></span>
                                    <input type="password" class="form-control form-control-sm" name="passwordconfirm"
                                           placeholder="Confirm Password" asp-for="User.PasswordConfirm">
                                </div>

                                <button type="submit" class="btn btn-success btn-block mb-2" name="submit_signup_btn">Sign Up</button>

                                <div class="signup mb-2">
                                    <span class="text-light">Already have an account? </span><a class="text-success" asp-page="/Index"> Sign In</a>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
